
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body{
    font-family:'Lato',sans-serif;
    color:white;
    line-height:1.5em;
}

.navbar ul{
    list-style-type:none;
    display: flex;
   
    
}
li{
    margin: 5px;
    
}
.navbar a:hover{
   /* text-decoration:underline;*/
   padding-bottom: 3px;
   border-bottom: 2px white solid;
}

.navbar a{
    text-decoration:none;
    color:rgb(255, 255, 255);
    margin: 0 5px;
}

h1,h2{
    font-weight: 300;
    line-height: 1.3em;
    margin:10px 0 10px 0;
}

p{
    margin:10px 0 10px 0;
    
}
img{
    width:100%;
}
.navbar{
    background-color: rgb(72, 103, 254);
    height:70px;
}

.container{
    max-width:1200px;
    margin:0 auto;
    overflow: auto;
    padding:0 40px 0 40px;
    
}
.grid{
    display: grid;
    grid-template-columns: 1.8fr 1.3fr;
    gap:20px;
    height: 100%;
    
    align-items: center;
    
}

.showcase{
    color: rgb(255, 255, 255);
    height: 400px;
    background-color: rgb(72, 103, 254);
   
   
}
.showcase img{
    width:250px;
    place-self: end;
    align-self: center;
    border-radius: 15px;
    background-color: transparent;
}

.showcase h1{
    font-size: 40px;

}
.showcase p{
    margin:15px 0 15px 0;
}

.platform{
    background-color: rgb(215, 215, 215);
    color: black;
    height: 350px;
}
.platform img{
    background-color: transparent;
    width:250px;
    place-self: end;
    align-self: center;
    border-radius: 15px;
}
.footer{
    background-color: rgb(45, 41, 152);
    padding-top: 10px;
    padding-bottom: 30px;

}
.grid3{
    color: bisque;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content:center;
    align-items: center;
    place-items: center;
}
.container1{
    max-width:1200px;
    margin:0 auto;
    overflow: auto;
    padding:0 40px 0 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
   margin: 20px auto;
    overflow: hidden;
    padding: 10px;
}
.menu p {
    color: black;
    margin-left: 10px;
}

.menu1{
    height: 100px;
}
.menu i{
    place-self: center;
    padding: 3px;
}
.grid3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: black;
    gap:20px;
    padding: 10px 0;
}
 .grid3 .menu1{
    border:0.7px solid black;
    border-radius: 2px;
    display: flex;
    border-radius: 2px;
    transition: transform 0.2s;
 }

 .menu1:hover{
    transform:translateY(-5px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.35);
    cursor: pointer;
 }
.grid3 .menu1:nth-child(1){
    grid-column: 1/span 3;
    grid-row: 1;
    width: 100%;
    height: 100%;

}
.grid3 .menu1:nth-child(2){
    grid-row: 2;
    grid-column: 1/span 2;
    width: 100%;
    height: 100%;
}
.grid3 .menu1:nth-child(3){
    grid-row: 2;
    grid-column: 3;
    width: 100%;
    height: 100%;
}
.grid3 .menu1:nth-child(4){
    grid-row: 3;
    grid-column: 1;
    width: 100%;
    height: 100%;
}
.grid3 .menu1:nth-child(5){
    grid-row: 3;
    grid-column: 2;
    width: 100%;
    height: 100%;
}
.grid3 .menu1:nth-child(6){
    grid-row: 3;
    grid-column: 3;
    width: 100%;
    height: 100%;
}


.footer ul a{
    text-decoration: none;
    color: white;
}
.footer ul a:hover{
    text-decoration: underline;
}

.footer ul li{
    list-style-type:none;

}

.footer h1,
.footer p{
    color: white;
} 

.social a{
    margin: 5px;
    color: white;
}

.footer{
    background-color: rgb(45, 41, 152);
    padding-top: 10px;
    padding-bottom: 30px;

}
.grid3-f{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: black;
    gap:20px;
    padding: 10px 0;
    place-items: center;
}


@media(max-width:768px){
    .grid,
    .stats-grid,
    .grid3-f,
    .grid3,
    .cloud .grid
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
     
    .showcase{
        height: auto;
    }
    .cli2{
        grid-template-columns: 1fr ;
        grid-template-rows: 3fr;
        
    }
    .cli2 img{
        grid-row: 1;
        grid-column: 1;
    }
    .cli2 .card:nth-child(2){
        grid-column: 1;
        grid-row: 2;
    }
    .cli2 .card:nth-child(3){
        grid-column: 1;
        grid-row: 3;
    }
    
   .showcase-text{
    text-align: center;
    margin-top: 40px;
   }
   .form-card{
    width:70%;
    justify-self: center;
    margin: auto;
   }

   .platform,
   .showcase{
    height: auto;
    padding-bottom: 10px;
   }
   .platform img,
   .showcase img{
    justify-self: center;
   }

  
}

@media(max-width:1000px){
    .grid3{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        width:100%;
    }
    .grid3 .menu1:nth-child(1){
        grid-column: 1;
        grid-row: 1;
    
    }
    .grid3 .menu1:nth-child(2){
        grid-row: 2;
        grid-column: 1;
    }
    .grid3 .menu1:nth-child(3){
        grid-row: 3;
        grid-column: 1;
    }
    .grid3 .menu1:nth-child(4){
        grid-row: 4;
        grid-column: 1;
    }
    .grid3 .menu1:nth-child(5){
        grid-row: 5;
        grid-column: 1;
    }
    .grid3 .menu1:nth-child(6){
        grid-row: 6;
        grid-column: 1;
    }
}
